# Ignore the virtual environment directory
.Pipfile.lock
Pipfile.lock

# Python bytecode
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE or editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Miscellaneous
*.log
